@{
    ViewData["Title"] = "About XYZ ";
}

<article>
    <div class="row mt-5 mb-5">
        <h2 class="display-3 col-sm-9 text-white bg-black">XYZ Detective Agency</h2>
        <img src="~/Images/scooby-and-scrappy.jpg" alt="scooby and scrappy" class="col-sm-3 img-fluid rounded-circle" />
    </div>
    <div class="row">
        <img src="~/Images/footprint.jpg" alt="footprint" class="col-sm-2 img-fluid" />
        <div class="col-sm-7">
            <p>
                Our agency was founded in 1960 by Scooby and Scrappy Doo.
                The agency expanded in the 1980's across the United States and is now the top
                agency in the midwest.
            </p>
            <p>
                In 2000, the agency expanded to Europe and in 2020, the agency will also be
                in Africa and Austrailia.
            </p>
        </div>
    </div>
</article>
