@{
    ViewData["Title"] = "Contact Us!";
}

<div class="row">
    <div class="col-sm-8">
        <h2>XYZ Detective Agency&nbsp;<i class="fa-solid fa-magnifying-glass"></i></h2>
        <h3>Headquarters</h3>
        <address>
            One Sleuthton Ave<br />
            Traverse City, MI 49696<br />
            <abbr title="Phone"><i class="fa-solid fa-phone"></i></abbr>
            800.555.1111
        </address>
    </div>
    <img src="~/Images/spying.jpg" alt="telescope on deck" class="rounded-circle col-sm-4" />
    <div class="row">
        <div class="col-sm-12 mt-5 list-group list-group-horizontal">
            <a href="mailto:us@xyzdetectives.org" class="list-group-item list-group-item-success">United States: us@xyzdetectives.org</a>
            <a href="mailto:europe@xyzdetectives.org" class="list-group-item list-group-item-secondary">Europe: europe@xyzdetectives.org</a>
            <a href="mailto:africa@xyzdetectives.org" class="list-group-item list-group-item-success">Africa: africa@xyzdetectives.org</a>
            <a href="mailto:austrailia@xyzdetectives.org" class="list-group-item list-group-item-secondary">Austrailia: australia@xyzdetectives.org</a>
        </div>
    </div>
</div>
